*.cache
*.lref
Simple Timer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.manifest
Simple Timer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Simple Timer/obj/Debug/Simple Timer.csproj.FileListAbsolute.txt
*.cache
Simple Timer/obj/Debug/MainWindow.g.i.cs