*.cache
*.lref
Simple Timer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.manifest
Simple Timer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Simple Timer/obj/Debug/Simple Timer.csproj.FileListAbsolute.txt
*.cache
Simple Timer/obj/Debug/MainWindow.g.i.cs
*.suo
Simple Timer/obj/Debug/GeneratedInternalTypeHelper.g.cs
Simple Timer/obj/Debug/App.g.cs
Simple Timer/obj/Debug/MainWindow.baml
Simple Timer/obj/Debug/Simple Timer.csproj.FileListAbsolute.txt
*.exe
Simple Timer/obj/Debug/Simple Timer_MarkupCompile.i.cache
*.resources
Simple Timer/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Simple Timer/obj/Debug/Simple Timer.csproj.FileListAbsolute.txt
*.pdb
*.cache